.container.as-content-container
  .row
    .col-md-12
      h3 Schedule
  .row
    .col-md-4
      label Schedule Date
      .input-group
        input.form-control(
          type="text",
          ng-disabled="true",
          asc-datepicker-popup="fullDate",
          show-weeks="false",
          ng-model="scheduleDate",
          is-open="calendarOpened",
          datepicker-options="datePickerOptions",
          ng-required="true",
          close-text="Close")
        .input-group-btn
          button.btn.calendar-btn(ng-click="openCalendar()")
            span.glyphicon.glyphicon-calendar
    .col-md-4
      label Start Time
      .input-group
        input.form-control(
          type="text",
          ng-disabled="true",
          asc-timepicker-popup="shortTime",
          ng-model="startTime",
          ng-change="changeStartTime()",
          is-open="timeOpened",
          timepicker-options="timePickerOptions",
          ng-required="true")
        .input-group-btn
          button.btn.time-btn(ng-click="openTime()")
            span.glyphicon.glyphicon-time
  .row
    .col-md-12
      alert(ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)") {{alert.msg}}
  .row
    .col-md-12
      .as-schedule-grid
        .table-responsive
          table.table.table-bordered.table-condensed.table-hover
            thead
              tr.column-label
                th(colspan="3")
                th(ng-repeat="columnDefintion in columnDefintions") {{columnDefintion.displayName}}
            tbody(ui-sortable="sortableOptions", ng-model="rowData")
              tr(ng-repeat="rowDatum in rowData")
                td.row-btn
                  span.glyphicon.glyphicon-move
                td.row-btn(ng-click="addRow()")
                  span.glyphicon.glyphicon-plus
                td.row-btn(ng-click="removeRow(rowDatum)")
                  span.glyphicon.glyphicon-remove
                td(ng-repeat="columnDefintion in columnDefintions")
                  input.form-control(
                    ng-disabled="{{columnDefintion.isDisabled}}",
                    ng-model="rowDatum.data[columnDefintion.name]",
                    ng-change="{{columnDefintion.doOnChange}}",
                    ng-class="{{columnDefintion.classExpression}}",
                    type="{{columnDefintion.type}}",
                    min="{{columnDefintion.minNumber}}",
                    max="{{columnDefintion.maxNumber}}")
  .row
    .col-md-12
      .as-schedule-notes
        label Notes
        textarea.form-control(rows="3")
  .row
    .col-md-12
      .btn-group.as-accessory-btn-group
        button.btn.btn-primary.btn-md.dropdown-toggle(type="button", data-toggle="dropdown")
          | Share schedule
          | <span class="caret"></span>
        ul.dropdown-menu(role="menu")
          li
            a(ng-click="printScheduleItems()")
              | <span class="glyphicon glyphicon-print"></span>
              | Print schedule
            a(ng-click="emailScheduleItems()")
              | <span class="glyphicon glyphicon-envelope"></span>
              | Email schedule
            a(ng-click="sendScheduleItems()")
              | <span class="glyphicon glyphicon-send"></span>
              | Send schedule
        button(type="button", ng-click="clearAllScheduleItems()").btn.btn-md.btn-warning
          | <span class="glyphicon glyphicon-trash"></span>
          |  Clear schedule
  //- .row
  //-   .col-md-12
  //-     pre {{rowData}}
  //-     pre {{scheduleDate}}
  //-     pre {{startTime}}