form.as-form(name="inputForm", novalidate)
  div(ng-repeat="fieldDefinition in fieldDefinitions")
    ng-form(name="formInput")
      .form-group(ng-class="{'has-error' : formInput.userInput.$dirty && formInput.userInput.$invalid}")
        label.control-label {{fieldDefinition.label}}
        input.form-control(
        type="{{fieldDefinition.type}}",
        name="userInput",
        ng-model="formData[fieldDefinition.name]",
        ng-required="{{fieldDefinition.isRequired}}",
        ng-pattern="{{fieldDefinition.hasPattern}}",
        ng-maxlength="{{fieldDefinition.maxLength}}",
        ng-minlength="{{fieldDefinition.minLength}}",
        as-match-field="{{fieldDefinition.matchField}}")
        p.as-field-help.text-muted {{fieldDefinition.fieldHelp}}
        ul(ng-repeat="fieldHelpItem in fieldDefinition.fieldHelpItems")
          li.text-muted.strong {{fieldHelpItem}}
        div(ng-show="formInput.userInput.$dirty && formInput.userInput.$invalid")
          div(ng-repeat="fieldErrorItem in fieldDefinition.fieldErrorItems")
            p.has-error.help-block(ng-show="formInput.userInput.$error.{{fieldErrorItem.errorKey}}") {{fieldErrorItem.errorMessage}}