.as-content-container
  .row
    .col-lg-12
      h3
        i.fa.fa-tasks.fa-1x
        |  Schedules
  .row
    .col-lg-4
      label Schedule Date
      .input-group
        input.form-control(
        type="text",
        ng-disabled="true",
        asc-datepicker-popup="fullDate",
        show-weeks="false",
        ng-model="scheduleDate",
        is-open="calendarOpened",
        datepicker-options="datePickerOptions",
        ng-required="true",
        close-text="Close")
        .input-group-btn
          button.btn.calendar-btn(ng-click="openCalendar()")
            i.fa.fa-calendar
    .col-lg-4
      label Start Time
      .input-group
        input.form-control(
        type="text",
        ng-disabled="true",
        asc-timepicker-popup="shortTime",
        ng-model="startTime",
        ng-change="changeStartTime()",
        is-open="timeOpened",
        timepicker-options="timePickerOptions",
        ng-required="true")
        .input-group-btn
          button.btn.time-btn(ng-click="openTime()")
            i.fa.fa-clock-o
  .row
    .col-lg-12
      alert(ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)") {{alert.msg}}
  .row
    .col-lg-12
      .as-schedule-grid
        .table-responsive
          table.table.table-bordered.table-condensed.table-hover
            thead
              tr.column-label
                th(colspan="3")
                th(ng-repeat="columnDefintion in columnDefintions") {{columnDefintion.displayName}}
            tbody(ui-sortable="sortableOptions", ng-model="rowData")
              tr(ng-repeat="rowDatum in rowData")
                td.row-btn
                  i.fa.fa-arrows
                td.row-btn(ng-click="addRow()")
                  i.fa.fa-plus
                td.row-btn(ng-click="removeRow(rowDatum)")
                  i.fa.fa-times
                td(ng-repeat="columnDefintion in columnDefintions")
                  input.form-control(
                  ng-disabled="{{columnDefintion.isDisabled}}",
                  ng-model="rowDatum.data[columnDefintion.name]",
                  ng-change="{{columnDefintion.doOnChange}}",
                  ng-class="{{columnDefintion.classExpression}}",
                  type="{{columnDefintion.type}}",
                  min="{{columnDefintion.minNumber}}",
                  max="{{columnDefintion.maxNumber}}",
                  as-on-touch)
  .row
    .col-lg-12
      .as-schedule-notes
        label Notes
        textarea.form-control(rows="3")