.container.as-content-container
  .row
    .col-md-12
      .row
        .col-md-12
          h3 Sign In
      .row
        .col-md-5
          form.ls-form(name="signinForm", ng-submit="processForm()", novalidate)
            // Username field
            .form-group(ng-class="{'has-error' : signinForm.inputUsername.$dirty && signinForm.inputUsername.$invalid}")
              label.control-label Username or Email Address
              input#inputUsername.form-control(
                type="text",
                name="inputUsername",
                ng-model="formData.username",
                ng-required="",
                ng-pattern="",
                ng-maxlength="",
                ng-minlength="",
                ng-unique="")
              p.ls-field-help.text-muted
              div(ng-show="signinForm.inputUsername.$dirty && signinForm.inputUsername.$invalid")
                p.has-error.help-block(ng-show="signinForm.inputUsername.$error.required")
                p.has-error.help-block(ng-show="signinForm.inputUsername.$error.pattern")
                p.has-error.help-block(ng-show="signinForm.inputUsername.$error.maxlength")
                p.has-error.help-block(ng-show="signinForm.inputUsername.$error.minlength")
                p.has-error.help-block(ng-show="signinForm.inputUsername.$error.unique")
                p.has-error.help-block(ng-show="signinForm.inputPassword1.$error.match")
            // Password field
            .form-group(ng-class="{'has-error' : signinForm.inputPassword.$dirty && signinForm.inputPassword.$invalid}")
              label.control-label Password
              input#inputPassword.form-control(
                type="password",
                name="inputPassword",
                ng-model="formData.password",
                ng-required="",
                ng-pattern="",
                ng-maxlength="",
                ng-minlength="",
                ng-unique="")
              div(ng-show="signinForm.inputPassword.$dirty && signinForm.inputPassword.$invalid")
                p.has-error.help-block(ng-show="signinForm.inputPassword.$error.required")
                p.has-error.help-block(ng-show="signinForm.inputPassword.$error.pattern")
                p.has-error.help-block(ng-show="signinForm.inputPassword.$error.maxlength")
                p.has-error.help-block(ng-show="signinForm.inputPassword.$error.email")
                p.has-error.help-block(ng-show="signinForm.inputPassword.$error.minlength")
                p.has-error.help-block(ng-show="signinForm.inputPassword.$error.unique")
                p.has-error.help-block(ng-show="signinForm.inputPassword.$error.match")
            p
              ul.list-unstyled
                li(ng-repeat="formHelp in formHelps")
                  strong
                    a(href="{{formHelp.url}}") {{formHelp.title}}
            button(
              type="submit",
              ng-disabled="signinForm.inputUsername.$pristine || signinForm.inputPassword.$pristine").btn.btn-md.btn-warning
              span Sign In